<h1>Welcome to CSE Motors!</h1>
<div class="topContent">
    <img id="delorean" src="images/vehicles/delorean.jpg" alt="delorean"/>
    <div class="callToAction">
        <h3>DMC Delorean</h3>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice!</li>
        </ul>
        <button>Own Today</button>
    </div>
</div>