/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.tools {
  text-align: right;
}

nav {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li  {
  display: inline;
  margin-right: 0;
}

li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

li a:hover {
  background-color: #555;
}

.outerUpgrade {
  color: black
}